@using EfSearchModel.Extensions
@using EfSearchModel.Model
@{
    ViewBag.Title = "自动回复管理";
    Layout = "~/Views/Shared/_LayoutMainTwo.cshtml";
}
@section head{
    <script src="@Url.Content("~/Javascripts/WebChat/KeyWord.js")"></script>
}

<div region="center" style="padding: 5px;" border="false">
    <table id="table"></table>
</div>
@*查询*@
<div style="display: none">
    <div id="divQuery" style="padding: 5px; background: #fafafa;">
        <form action="javascript:;" id="formsearch" method="post">
            <table cellpadding="0" cellspacing="0" cellspacing="1" class="Admin_Table" style="width: 100%; margin: 0px auto;">
                <tr>
                    <td style="width: 20%; text-align: right">
                        公众号名称：
                    </td>
                    <td style="width: 30%; text-align: left">
                        @Html.TextBox("AppName", "", new { @style = "width:80%;height:18px", @class = "text" }).ForSearch(QueryMethod.Contains)
                    </td>
                    <td style="width: 20%; text-align: right">
                        菜单Code：
                    </td>
                    <td style="width: 30%; text-align: left">
                        @Html.TextBox("Code", "", new { @style = "width:80%;height:18px", @class = "text" }).ForSearch(QueryMethod.Contains)
                    </td>
                </tr>
                <tr>
                    <td style="width: 20%; text-align: right">
                        消息类型：
                    </td>
                    <td style="width: 30%; text-align: left">
                        @Html.DropDownList("MsgType", (SelectList)ViewBag.MsgType, new { @style = "width:80%;height:22px", @class = "text" }).ForSearch(QueryMethod.Equal)
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <div style="height: 10px">
            </div>
            <div region="south" border="false" style="text-align: right; height: 30px; line-height: 30px;">
                <button class="btn-sub" type="button" onclick="Search()">
                    查询
                </button>
            </div>
        </form>
    </div>
</div>
<div id="dd" title="确认删除" style="display: none;">
    <div class="dialog-content-me">
        您确认删除所选的这<span id="ddText" style='color: red'></span>条数据吗？
    </div>
</div>