@using EfSearchModel.Extensions
@using EfSearchModel.Model
@{
    ViewBag.Title = "微信公众号";
    Layout = "~/Views/Shared/_LayoutMainTwo.cshtml";
}
@section head{
    <script type="text/javascript" src="../../Javascripts/WebChat/WxAccount.js"></script>
}

<div region="center" style="padding: 5px;" border="false">
    <table id="table"></table>
</div>

<div style="display: none">
    <div id="divQuery" style="padding: 5px; background: #fafafa;">
        <form action="javascript:;" id="formsearch" method="post">
            <table cellpadding="0" cellspacing="0" cellspacing="1" class="Admin_Table" style="width: 100%;margin: 0px auto;">
                <tr>
                    <td style="width:10%; text-align:right">名称：</td>
                    <td style="width:40%; text-align:left">
                        @Html.TextBox("Name", "", new { @style = "width:80%;height:18px", @class = "text" }).ForSearch(QueryMethod.Contains)
                    </td>
                    <td style="width: 10%; text-align: right">
                        token：
                    </td>
                    <td style="width:40%; text-align: left">
                        @Html.TextBox("Token", "", new { @style = "width:80%;height:18px", @class = "text" }).ForSearch(QueryMethod.Contains)
                    </td>

                </tr>
            </table>
            <div style="height: 10px">
            </div>
            <div region="south" border="false" style="text-align: right; height: 30px; line-height: 30px;">
                <button class="btn-sub" type="button" onclick="Search()">
                    查询
                </button>
            </div>
        </form>
    </div>
</div>
<div id="dd" title="确认删除" style="display: none;">
    <div class="dialog-content-me">
        您确认删除所选的这<span id="ddText" style='color: red'></span>条数据吗？
    </div>
</div>