@{
    Layout = "~/Views/Shared/_LayoutMainTwo.cshtml";
}
@section head{
    <link href="@Url.Content("~/Content/WebChat/WxMenuManger.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Javascripts/WebChat/WxMenuManger.js")" type="text/javascript"></script>
}
<div region="north" split="true" border="false" class="contentSelect">
    <div class="contentSelectTitle">
        <label class="t5">公众号：</label>
        <select id="appList" class="text"></select>
        <label class="t5">Token：</label>
        <label class="wxinfo" id="token"></label>
        <label class="t5">AppId：</label>
        <label class="wxinfo" id="appId"></label>
        <label class="t5">AppSecret：</label>
        <label class="wxinfo" id="appSecret"></label>
        <label class="t5">最后生成时间：</label>
        <label class="wxinfo" id="lasttime">2015-06-21 12:34:43</label>
        <button id="createMenu" type="button" class="btn-sub ui-button-green" onclick="CreateMenu()">生成微信菜单</button>

    </div>

</div>
<div split="true" region="west" border="false" style="width: 200px; overflow-x: hidden" class="content-center">
    <div id="fartherMenu">
        <dl id="erMenu" class="erMenu"></dl>
    </div>

</div>
<div region="center" border="false" class="content-center">
    <div id="childMenu">

    </div>
</div>
<div id="addAction" class="addAction">
    <div class="actionTitle">请选择订阅者点击“按钮”菜单后，公众号做出的响应动作</div>
    <ul id="actionList">
        <li onclick="AddChildrenMenu()">
            <div class="circle eventIcon1"></div>添加二级菜单
        </li>
        <li onclick="SetFatherEvent()">
            <div class="circle eventIcon2"></div>设置事件
        </li>
        <div style="clear: both"></div>
    </ul>
</div>
<div id="ChildrenAction" class="addAction" style="display: none;text-align: left">
    <div class="actionTitle">请设置订阅者点击菜单后，公众号做出的响应动作</div>
    <form class="actionForm">
        <ul id="childactionList">
            <li>
                @Html.DropDownList("menuType", ViewBag.menuType as SelectList,"--请选择菜单类型--",new { @class = "menuType text validate[required]" })
            </li>
            <li>
                <input type="text" class="inputtext text validate[required]" style="width: 237px;" />
            </li>
            <li>
                <button id="setMenuAction" type="button" class="btn-sub ui-button-green" onclick="SetChildrenBtn()">设置</button>
            </li>
        </ul>
    </form>
</div>