<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBlinq.Properties.Settings.AnyCodeConnectionString"
            connectionString="Data Source=120.76.73.57;Initial Catalog=test;Persist Security Info=True;User ID=sa;Password=me@123"
            providerName="System.Data.SqlClient" />
        <add name="DBlinq.Properties.Settings.MongoDBConnectionString"
            connectionString="Server=www.isaacxu.com:27017;Username=anycode;Password=xan1220" />
    </connectionStrings>
</configuration>