@{
    ViewBag.Title = "ErrorLog";
    Layout = "~/Views/Shared/_LayoutMainTwo.cshtml";
}
@section head{
    <script src="@Url.Content("~/Javascripts/System/ErrorLog.js")"></script>
}

<div split="true" region="west" border="false" style="width: 180px" class="content-center">
    <div class="regionContentDiv">
        <ul id="errorFiles"></ul>
    </div>
</div>
<div region="center" border="false" class="content-center" style="padding-left: 0">
    <div class="regionContentDiv">
        <div id="errorContent"></div>
    </div>
</div>
<div id="dia">
    <div id="errorbai" class="easyui-progressbar" style="width: 200px;display: none"></div>
</div>


