@using AnyCode
@model DBlinq.News_User_Company
@{
    ViewBag.Title = "ShowNews";
    Layout = "~/Views/Shared/_LayoutMainTwo.cshtml";
}
@section head{
    <script type="text/javascript" src="../../Javascripts/System/ShowNews.js"></script>
    <style type="text/css">
        .item-th {
            font-weight: bold;
            color: #515151;
            width: 100px;
        }

        .item-td {
            font-weight: normal;
            color: #000;
        }
    </style>
}

<div region="center" class="content-center" border="false">
    <div class="btn-bar">
        <button class="btn-back" type="button" onclick="backList();">返回列表</button>
    </div>
    <div class="clr"></div>
    <div id="newFatherDiv">
        <h3 class="newTitle">@Html.LableValueFor(model => model.Title)</h3>
        <div class="newInfo">
           
            <span class="newUser">@Html.LableValueFor(model => model.MyName)</span>
            <span class="newDate">【@Html.LableValueFor(model => model.CreateTime)】</span>
        </div>
        <div class="newContent">@Html.TextValueFor(model => model.News)</div>

    </div>

</div>
