@using EfSearchModel.Extensions
@using EfSearchModel.Model
@{
    ViewBag.Title = "备忘录";
    Layout = "~/Views/Shared/_LayoutMainTwo.cshtml";
}
@section head{
    <script type="text/javascript" src="../../Res/plugs/jquery.PrintArea.js"></script>
    <script type="text/javascript" src="../../Javascripts/Content/Text.js"></script>
}
<div region="center" style="padding: 5px;" border="false">
    <table id="test"></table>
</div>
<div style="display: none">
    <div id="divQuery" style="padding: 5px; background: #fafafa;">
        <form action="javascript:;" id="formsearch" method="post">
            <table cellpadding="0" cellspacing="0" cellspacing="1" class="Admin_Table" style="width: 100%;
                                                                                                                                                                                                                                              margin: 0px auto;">
                <tr>
                    <td style="width:10%; text-align:right">起始日期：</td>
                    <td style="width:40%; text-align:left">@Html.TextBox("CreateTime", null, new { @class = "Wdate text", @style = "width:73.5%", @onclick = "WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" }).ForSearch(QueryMethod.GreaterThanOrEqual)</td>
                    <td style="width:10%; text-align:right">截止日期：</td>
                    <td style="width:40%; text-align:left"> @Html.TextBox("CreateTime", null, new { @class = "Wdate text", @style = "width:73.5%", @onclick = "WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" }).ForSearch(QueryMethod.LessThanOrEqual)</td>
                </tr>
                <tr>
                    <td style="width:10%; text-align:right">标题：</td>
                    <td style="width:40%; text-align:left">
                        @Html.TextBox("Title", "", new { @style = "width:80%;height:18px", @class = "text" }).ForSearch(QueryMethod.Contains)
                    </td>
                    <td style="width: 10%; text-align: right">
                        内容包含：
                    </td>
                    <td style="width:40%; text-align: left">
                        @Html.TextBox("Content", "", new { @style = "width:80%;height:18px", @class = "text" }).ForSearch(QueryMethod.Contains)
                    </td>

                </tr>
            </table>
            <div style="height: 10px">
            </div>
            <div region="south" border="false" style="text-align: right; height: 30px; line-height: 30px;">
                <button class="btn-sub" type="button" onclick="Search()">
                    查询
                </button>
            </div>
        </form>
    </div>
</div>
<div id="dd" title="确认删除" style="display: none;">
    <div class="dialog-content-me">
        您确认删除所选的这<span id="ddText" style='color: red'></span>条数据吗？
    </div>
</div>

